body {
  background: linear-gradient(0deg, #47368c 0%, #a28bfe 16%, #8a97ff 98%);

  justify-content: center;
  text-align: center;
}
.FadeIn {
  opacity: 0;
  animation: fadeIn 3s ease-out 1s 1 normal forwards;
}

/* region Footer */
footer {
  background-color: #47368c;

  height: 5vh;


  align-content: center;
  text-align: center;

  border-radius: 10px;
}
::selection{
  background-color: #6754b4;
}

.main {

  background-color: #47368c;
  height: 70vh;
  border-radius: 10px;
  margin-bottom: 5vh;

  align-content: center;

  overflow-y: auto;
}
.list-item{

  text-align: center;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;

  height: 20vh;
  margin-bottom: 2vh;


  background-color: #241855;
  list-style: none;
}
.Menu-Item{
  width: 5vw;
  margin-left: 10px;
  margin-right: 10px;

  background-color: #241855;
  

  inset: unset;
}


button{
  height: 5vh;
  border-radius: 10px;
}
button:hover{
  scale: 1;
  transition: scale .2s ease 0s;
  scale: 1.3;
}
button:active{
  scale: 1.3;
  transition: scale .05s ease 0s;
  scale: 1;
}
/* endregion */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.Center-Top{
  justify-self: center;

  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20vw;
  text-align: center;
  line-height: 2;

  text-shadow: 0px 3px 4px #000000;
}

